<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Misson to Mars</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1>Mission to Mars</h1>
                <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
            </div>
            
            <!-- Mars News -->
            <div class="row">
                <div class="col-md-12">
                    <h2>Latest Mars News</h2>
                    <h4>{{ mars.news_title }}</h4>
                    <p>{{ mars.news_p }}</p>
                </div>
            </div>

            <!-- Featured Img -->
            <div class="row">
                <div class="col-md-8">
                    <h3>Featured Mars Image</h3>
                    <img src="{{ mars.featured_img }}" width= "600" height="600" alt="Featured Image of Mars" class="responsive_img">
                </div>
                <!-- Mars Facts-same rows as featured image -->
                <div class="col-md-4">
                    <h4>Mars Facts</h4>
                    {{ mars.facts | safe }}                    
                </div>
            </div>


        </div>
    
    </body>
</html>